.header-content {
    min-height: 75vh;
    background: linear-gradient(rgba(58, 48, 4, 0.3), rgba(73, 32, 5, 0.5)), url('../../assets/home.png') center/cover no-repeat;
    flex-direction: column;
}

.header-title {
    font-size: 4.2rem;
}

.header-text {
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    max-width: 770px;
}